<section class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-3-desktop is-3-tablet">
                <div class="image">
                    <img class="is-rounded" src="/assets/profile.jpeg" alt=""/>
                </div>
            </div>
            <div class="column">
                <p class="title is-1 pb-2">
                    Hi, I am Terry.
                </p>
                <p class="subtitle has-text-grey">
                    I love exploring new technologies on the web and using them to make the world a better place.
                </p>
            </div>
        </div>
    </div>
</section>

