<nav class="navbar is-spaced has-shadow">
    <!-- logo /brand -->
    <div class="navbar-brand">
        <a href="" class="navbar-item">
            <i class="fab fa-earlybirds pr-2"></i>
            <span class="has-text-weight-bold">Terry</span>
        </a>
        <a class="navbar-burger" (click)="toggleNav(navLinks)">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>


    <div class="navbar-menu" #navLinks>
        <div class="navbar-end">
            <a href="" class="navbar-item">
                Home
            </a>

            <a href="" class="navbar-item">
                About Me
            </a>

            <a href="" class="navbar-item">
                Portfolio
            </a>

            <a href="" class="navbar-item mr-3">
                Blog
            </a>

            <a href="https://www.linkedin.com/in/terrytay/" target="_blank" class="navbar-item">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.github.com/terrytay/" target="_blank" class="navbar-item">
                <i class="fab fa-github"></i>
            </a>
            <a href="" class="navbar-item">
                <i class="far fa-envelope"></i>
            </a>
        </div>
    </div>
</nav>
